<div class="container content">
   <div class="row">
      <div class="col-sm-4 content">
         <h3>MB Maker</h3>
         <a href="http://soju-mb-app.herokuapp.com/" class="thumbnail"><img src="https://s3-us-west-2.amazonaws.com/sojuheroku/mbapp.jpg" class="img-responsive img-rounded" alt="Responsive image"></a>
         <p><a href="http://forums.anarchy-online.com/showthread.php?611805-Soju-s-Multiboxing-Guide">Multibox Script maker for Anarchy Online. </a> Written in Angular and Google Material Design</p>
         <div class="contentButton">
            <p><a class="btn btn-default" href="https://github.com/sojufrank" role="button">Git Link <i class="fa fa-github-square"></i></a></p>
         </div>
      </div>
      <div class="col-sm-4 content">
         <h3>Seattle Crime Map</h3>
         <a href="https://soju-crime-map.herokuapp.com" class="thumbnail"><img src="https://s3-us-west-2.amazonaws.com/sojuheroku/soju-crime.jpg" class="img-responsive img-rounded" alt="Responsive image"></a>
         <p>a google map that takes data from <a href="https://data.seattle.gov/resource/7ais-f98f.json">data.seattle.gov api,</a> and creates map markers of the last 100x crimes reported.  Filter features coming soon.</p>
         <div class="contentButton">
            <p><a class="btn btn-default" href="https://github.com/sojufrank/soju_crime_map" role="button">Git Link <i class="fa fa-github-square"></i></a></p>
         </div>
      </div>
      <div class="col-sm-4 content">
         <h3>Fizz Buzz</h3>
         <a href="https://soju-fizz-buzz.herokuapp.com" class="thumbnail"><img src="https://s3-us-west-2.amazonaws.com/sojuheroku/fizzbuzz.jpg" class="img-responsive img-rounded" alt="Responsive image"></a>
         <p><a href="http://c2.com/cgi/wiki?FizzBuzzTest">Fizz Buzz</a> with css Parallax Scrolling.  Font style and color are randomized each refresh.   **use chrome on mobile for best results**</p>
         <div class="contentButton ">
            <p><a class="btn btn-default soju" href="https://github.com/sojufrank/fizz-buzz-javascript" role="button">Git Link <i class="fa fa-github-square"></i></a></p>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-4 content">
         <h3>Main Sushi</h3>
         <a href="https://soju-sushi.herokuapp.com" class="thumbnail"><img src="https://s3-us-west-2.amazonaws.com/sojuheroku/soju-sushi.jpg" class="img-responsive img-rounded" alt="Responsive image"></a>
         <p>Sushi restaurant landing page with custom floating javascript menu</p>
         <div class="contentButton">
            <p><a class="btn btn-default" href="https://github.com/sojufrank/sushi" role="button">Git Link <i class="fa fa-github-square"></i></a></p>
         </div>
      </div>
      d<div class="col-sm-4 content">
         <h3>To Do list</h3>
         <a href="https://soju-todo-list.herokuapp.com" class="thumbnail"><img src="https://s3-us-west-2.amazonaws.com/sojuheroku/soju-todo.jpg" class="img-responsive img-rounded" alt="Responsive image"></a>
         <p>A neat little online todo list app.  You can create a List, and then have a checkoff list underneath.  This app was created to demonstrate and understanding CRUD applications.</a></p>
            <div class="contentButton">
               <p><a class="btn btn-default" href="https://github.com/sojufrank/todo_list" role="button">Git Link <i class="fa fa-github-square"></i></a></p>
            </div>
      </div>
      <div class="col-sm-4 content">
         <h3>Proto Type</h3>
         <a href="https://soju-devise-blog.herokuapp.com" class="thumbnail"><img src="https://s3-us-west-2.amazonaws.com/sojuheroku/soju-blog.jpg" class="img-responsive img-rounded" alt="Responsive image"></a>
         <p>Test Prototype with AWS for storage Heroku for hosting. Paperclip gem. Devise gem. Twitter Bootstrap gem.</p>
         <div class="contentButton">
            <p><a class="btn btn-default" href="https://github.com/sojufrank/devise_blog" role="button">Git Link <i class="fa fa-github-square"></i></a></p>
         </div>
      </div>
   </div>
</div>

