<div class="container">
	<div class="jumbotron">
	        <h1>Frank Yi</h1>
	        <h3>Web Developer ||  IT Engineer</h3>
				<div class="row">
			        <div class="col-sm-4">
			        	<a class="btn btn-default" href="https://www.github.com/sojufrank" role="button">GitHub <i class="fa fa-github-square"></i></a> 
			        </div>
			        <div class="col-sm-4">
			        	<a class="btn btn-default" href="https://www.linkedin.com/pub/frank-yi/45/a06/60b" role="button">Linkedin <i class="fa fa-linkedin-square"></i></a> 
			      	</div>
			        <div class="col-sm-4">
			        	<a class="btn btn-default" href="https://seattlekkf.wordpress.com/" role="button">Wordpress <i class="fa fa-wordpress"></i></a> 
			        </div>
			    </div>
	</div>
</div>