<div class="container">
	<div class="jumbotron">
	        <h1>Frank Yi</h1>
	        <h3>Web Developer ||  IT Engineer</h3>
				<div class="row">
			        <div class="col-sm-4 ">
			        	<div class ="jumboCustomButton center-block">
			        	<a href="https://www.github.com/sojufrank">GitHub <i class="fa fa-github-square"></i></a> 
			        	</div>
			        </div>
			        <div class="col-sm-4">
			        <div class ="jumboCustomButton center-block">
			        	<a href="https://www.linkedin.com/pub/frank-yi/45/a06/60b">Linkedin <i class="fa fa-linkedin-square"></i></a> 
			        	</div>
			      	</div>
			        <div class="col-sm-4">
			        <div class ="jumboCustomButton center-block">
			        	<a href="https://seattlekkf.wordpress.com/">Wordpress <i class="fa fa-wordpress"></i></a> 
			        </div>
			        </div>
			    </div>
	</div>
</div>