//body background color
body {
    background-color: #32313b;
}

a.btn.btn-default {
	font-family: 'Bowlby One SC', cursive;
	color:white;
	border: 1px solid transparent;
	background-color: #25242c;
}

a.btn.btn-default:hover {
	background-color: #515056;
}

.col-sm-4.content {
    height:300px;
    background-color: #32313b;
}



//navbar
.frankNav ul li {
	display: inline-block;
	list-style-type: none;
}	
.frankBrandLeft {
    font-size: 3em;
    font-family: 'Bowlby One SC', cursive;
    color: #ec3f8c;
}
.frankBrandRight {
    font-size: 2em;
    font-family: 'La Belle Aurore', cursive;
    color: #39b1c6;
}
.floatRight {
	float:right;
}
.floatRight a:hover {
	background-color: #515056;
}



//jumbotron
.jumbotron {
    text-align: center;
    background-color: #32313b;
}
.jumbotron h1 {
    font-family: 'Frijole', cursive;
    color: #ec3f8c;
}
.jumbotron h3 {
    font-family: 'Racing Sans One', cursive;
    color: #39b1c6;
    margin-bottom:100px;
}

.jumbotronCustomButton {
text-decoration:none;
margin-top:20px;
border-radius:45px;
background-color: #25242c;
    height: 175px;
    width: 175px;
    line-height:175px;
}
.jumbotronCustomButton a {
    text-decoration:none;
    font-size:140px;
}

.jumbotronCustomButton:hover {
margin-top:20px;
border-radius:45px;
    height: 175px;
    width: 175px;
    line-height:175px;
}

.jumbotronCustomButtonLeft a {
    color: #ec3f8c;
}
.jumbotronCustomButtonCenter a {
    color: #39b1c6;
}
.jumbotronCustomButtonRight a {
    color: #1fd26a;
}

.jumbotronCustomButtonLeft:hover, .jumbotronCustomButtonLeft:hover a {
    color: white;
    background-color: #ec3f8c;
}
.jumbotronCustomButtonCenter:hover, .jumbotronCustomButtonCenter:hover a {
    color: white;
    background-color: #39b1c6;
}
.jumbotronCustomButtonRight:hover, .jumbotronCustomButtonRight:hover a {
    color: white;
    background-color: #1fd26a;
}

//content
.container.content {
    margin-top:50px;
    margin-bottom:100px;
}

.col-sm-4.content {
    height: 500px;
}

.col-sm-4.content h3 {
    font-family: 'Sigmar One', cursive;
    text-align: center;
    color: #ec3f8c;
}
.col-sm-4.content p {
    margin-top:10px;
    font-family: 'Candal', sans-serif;
    //text-align: center;
    color: #39b1c6;
}

.contentButton {

    position: absolute;
    bottom:0;
}

.contentButton a {
    width:150px;
}


//footer
.footer {
    background-color: #25242c;
    height:100px;
    position:relative;
}
.footerLeft {
    margin-left:20px;
    font-size:2em;
    font-family: 'La Belle Aurore', cursive;
    color: #ec3f8c;
    position:absolute;
    top:50%
}
.footerRight {
    right:0;
    position:absolute;
    top:33%;
}