<footer>
		<div class="footer">
			<div class="footerLeft">  
         	&copy; Seattlekkf.com 2015
         	</div>
	        <div class="footerRight">
		         <span><a href="http://www.facebook.com"><i class="fa fa-facebook-square fa-3x fa-spin"></i></h1></a></span>
		         <span><a href="http://www.twitter.com"><i class="fa fa-twitter-square fa-3x fa-spin"></i></a></span>
		         <span><a href="https://www.linkedin.com/pub/frank-yi/45/a06/60b"><i class="fa fa-linkedin-square fa-3x fa-spin"></i></a></span>
		         <span><a href="http://www.github.com/sojufrank"><i class="fa fa-github-square fa-3x fa-spin"></i></a></span>
	        </div>
        </div>


</footer>

