<footer class="footer">
      <div class="container">
         <span id="footerCopyRight">&copy; Seattlekkf.com 2015</span>
         <span><a href="http://www.facebook.com"><i class="fa fa-facebook-square fa-3x"></i></h1></a></span>
         <span><a href="http://www.twitter.com"><i class="fa fa-twitter-square fa-3x"></i></a></span>
         <span><a href="https://www.linkedin.com/pub/frank-yi/45/a06/60b"><i class="fa fa-linkedin-square fa-3x"></i></a></span>
         <span><a href="http://www.github.com/sojufrank"><i class="fa fa-github-square fa-3x"></i></a></span>
      </div>
</footer>
