<footer class="footer">
   <div class="navbar navbar-inverse">
      <div class="container footer">
         <p>
         <ul>
            <li class="ftList ftListLeft">&copy; Seattlekkf.com 2015</li>
            <li class="ftList" id="footerRight">
               <i class="fa fa-facebook-square fa-3x"></i>
               <i class="fa fa-twitter-square fa-3x"></i>
               <i class="fa fa-linkedin-square fa-3x"></i>
               <i class="fa fa-github-square fa-3x"></i>
            </li>
         </ul>
         </p>
      </div>
   </div>
</footer>