<div class="container frankNav">
   <ul>
      <li>
         <span class="frankBrandLeft">Franks</span>
         <span class="frankBrandRight">Portfolio</span>
      </li>
      <li class="floatRight">
            <a class="btn btn-default" href="home" role="button"><span>HOME</span></a>
            <a class="btn btn-default" href="https://seattlekkf.wordpress.com/" role="button"><span>BLOG</span></a>
      </li>
   </ul>
</div>